<%- include('./partials/head.ejs') %>
    <main>

        <table>
            <tr>
                <th>No</th>
                <th>Product</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            
                <tr>
                    <td>
                        1
                    </td>
                    <td>Ini gambar</td>
                    <td>Description</td>
                    <td><button onclick="location.href='https://google.com';">Buy</button></td>
                </tr>
            

        </table>
    </main>
    </body>

    </html>