<%- include('./partials/head.ejs') %>
    <main>

        <table>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            <% data.forEach(el => { %>
                <tr>
                    <td><img src="<%= el.image  %>" alt="<%= el.description%>"></td>
                    <td><%= formatPrice(el.price) %></td>
                    <td><button onclick="location.href='https://google.com';">Buy</button></td>
                </tr>
            <% }) %>

        </table>
    </main>
    </body>

    </html>